header{background-color: #5abd94;
}


.primeiro{
text-align: center;
margin: 00;
padding: 25px 0;
color: #f0f8ff;
text-shadow: 3px 3px 1px  #0ba18c;
font-family: 'Kaushan Script',sans-serif;
}
.segundo{
  color: #f0f8ff;
  border-width: 10px; 
  border-style: solid;
  border-color: #5abd94;
  }

a{
  color: #f0f8ff;
  margin-right: 100px;
  text-decoration: none;
  text-shadow: 2px 2px 1px  #0ba18c;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: 0,5s;
  }

  nav > a:hover{
    background-color: #0ba18d;
    padding: 5px;
  }


.centro{ font-size: 38px;
    text-align: center;
    color: #66199b;
text-shadow: 2px 2px 1px  #8a034d5d;
font-family: 'Kaushan Script',
sans-serif;
}
.centro2{
    text-align: center; 
color: #66199b;
text-shadow: 2px 2px  #8a034d5d;
font-family: 'Kaushan Script',
sans-serif;
}

.centro3{ font-size: 38px;
    text-align: center;
    color: #66199b;
text-shadow: 2px 2px  #f0f8ff ;
font-family: 'Kaushan Script',
sans-serif;
}

.centro4{ font-size: 28px;
    text-align: center;
    color: #66199b;
text-shadow: 2px 2px #f0f8ff;
font-family: 'Kaushan Script',
sans-serif;
}

.centro5{ font-size: 24px;
    text-align: center;
    color:#66199b;
text-shadow: 2px 2px  #8a034d5d;
font-family: 'Kaushan Script',
sans-serif;
}

.centro6{ font-size: 30px;
  text-align: center;
  color: #66199b;
text-shadow: 2px 2px  #8a034d5d;
font-family: 'Kaushan Script',
sans-serif;
}

.centro7{ font-size: 28px;
  text-align: center;
  color: #66199b;
text-shadow: 2px 2px #8a034d5d;
font-family: 'Kaushan Script',
sans-serif;
}

.justificado{ text-align: justify;
}

div.b{
  text-indent: 30px;
  margin:  1cm 1cm 1cm;
}

div.c{
  margin:  1cm 1cm 1cm;
}

main{ margin: 10px;
 
}



.último{background-color: #8a034d5d;
  border: 1px solid  #66199b;
  border-margin: 5px;
  padding: 20px;
  box-shadow: 10px 15px   #66199b;
  margin: 120px;
  border-radius: 5px;
}

.primeiraimg{ width: 300px;
  height: 300px;
  display: block; margin-left: auto; margin-right: auto; ;
}

.imgtext1{
  font-size: 14px;
  text-align: center;
}
.strong{ color: #66199b;
}
.imgtext2{
  font-size: 12px;
  text-align: center;
}
.strong{ color: #66199b;
}

.segundaimg{ width: 500px;
  height: 300px;
  display: block; margin-left: auto; margin-right: auto; ;
}

.terceiraimg{ width: 540px;
  height: 1000px;
  display: block; margin-left: auto; margin-right: auto; ;
}

.quartaimg{ width: 540px;
  height: 800px;
  display: block; margin-left: auto; margin-right: auto; ;
}

.quintaimg{ width: 840px;
  height: 500px;
  display: block; margin-left: auto; margin-right: auto; ;
}
iframe{
  display: block; margin-left: auto; margin-right: auto; ;
}

footer{height: 510px;
  background-image: linear-gradient( #5abd94 60%, #67199b);;
}
.imgtext3{ color: #000000;
  font-size: 16px;
  text-align: center;
  font-family: 'Kaushan Script',
sans-serif;  
}

.footer1{font-size: 40px;
  text-align: center;
  background-image: linear-gradient(#0ba18c 50%, #67199b 50%);
  font-family: 'Kaushan Script',
  sans-serif;
}
.imgft{  margin-left: 50px; margin-right: 50px; 
  width: 200px;
  height: 200px;
 
}
div.e{color: #000000;
  text-align: center;
  margin:  1cm 1cm 1cm;
  font-family: 'Kaushan Script',
  sans-serif;
}

.fim{
  text-align: center;
}
footer  a:hover{
  background-color: #66199b;
  padding: 5px;
}

